@import "./variables.css";
@import "./auth.css";
@import "./dashboard.css";

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    font-family:
    Inter,
    Arial,
    Helvetica,
    sans-serif;

    background:var(--color-background);

    color:var(--color-text);

}

a{

    text-decoration:none;

    color:inherit;

}

button{

    font:inherit;

    cursor:pointer;

}

input{

    font:inherit;

}